/* body {
    position: absolute;
    left: 10px;
    top: 5px;
    background: #fcfbfd;
  } */

  .topbar p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

.interior {
    text-transform: uppercase;
    color: #080707;
    position: absolute;
    width: 102px;
    height: 32px;
    left: 77px;
    top: 42px;
    border: 1px solid #0f0f0f;
    box-sizing: content-box;
}

.home {
    position: absolute;
    width: 57px;
    height: 22px;
    left: 827px;
    top: 46px;
}

.collection {
    position: absolute;
width: 92px;
height: 22px;
left: 970px;
top: 46px;
}

.about {
    position: absolute;
width: 57px;
height: 22px;
left: 1148px;
top: 46px;
}

.contact {
    position: absolute;
width: 73px;
height: 22px;
left: 1291px;
top: 46px;
}

.intro{
    margin-top: 30vh;
    font-weight: 500;
    font-size: 1rem;
    color: black;
  }
