@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: #A5A58D;
  }

h1 {
    margin: 0;
}

#container {
    margin-left: 4em;
    margin-top: 2em;
    margin-right: 4em;
}

/* Navigation Menu --> topbar */
/* 100vw --> viewport width. zo breed als het scherm is. of vh --> viewport height, zo hoog als het scherm is */
#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

#interior {
    border: 1px solid #F0EFEB;
    padding: 1.5em;
    color: #F0EFEB;
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 3px;
  }


/* Navigation items */
#list-1 {
    font-weight: 700;
}

#home{
    border-bottom: 1px solid #F0EFEB;
    padding-bottom: 1em;
}
.list-items {
    color: #F0EFEB;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 0.5rem;
    padding-top: 3em;
    margin-left: 3em;
  }
  
.list-items:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

/* Content: text & photo div */
#content {
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
  }

/* Text */
#text-items {
    width: 25vw;
    margin-top: 7em;
    color: #F0EFEB;
}

.header{
    font-weight: 700;
    font-size: 1rem;
  }

.text {
    font-size: 1rem;
}

.extra {
    font-size: 1rem;
    font-weight: 700;
}

/* Home interior picture */
#interior-img {
    max-width: 100%;
    height: auto;
}

#designer-card {
    width: 22em;
    height: 8em;
    color: #B7B7A4;
    background-color: #FFF1E6;
    z-index: 9;
    margin-left: 14em;
    margin-top: 2em;
    border-radius: 1%;
}

.image-stack::after {
    content: ' ';
    display: table;
    clear: both;
  }

.image-stack__item--top {
      float: left;
      width: 66%;
      margin-right: -100%;
      padding-top: 60%;
      position: relative;
      z-index: 1;
  }

/* Designer card */
#profile-header {
  display: flex;
  justify-content: flex-start;
  padding-top: 1em;
}

#profile-pic {
  padding-left: 1em;
}

#designer-jane {
  border-radius: 50%;
}

#name-job{
  align-self: center;
  padding-left: 1em;
}

#profile-job-description {
  font-size: 0.7em;
}

#profile-tag {
  display: flex;
  align-items: flex-start;
  padding-left: 1em;
}

/* Footer */
#footer{
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#created-by{
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
}

#designer-name{
    font-weight: 700;
}